<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="shop.Properties.Settings.agrinConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\agrin.mdb" providerName="System.Data.OleDb"/>
        <add name="shop.Properties.Settings.shopingConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\shoping.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
